.navbar_div{
    font-family: 'Manrope Bold', sans-serif;
    border-radius: 20px;
    background: #f2f2f2;
    box-shadow:  7px 7px 28px #b1b1b1, 
                -7px -7px 28px #ffffff;
    /* opacity: 0.9; */
    padding: 35px 50px 35px 35px;
    /* height:auto; */
    overflow: auto;
}

.navbar_logo{
    float: left;
}

.logout{
    float: right;
    text-align: right;
}

a:link, a:visited, a:hover, a:active {
    color: #0e0e0e;
    text-decoration: none;
}

@media screen and (min-width: 601px) {
  .navbar_div{
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .navbar_div{
    font-size: 17px;
  }
}

.workspace{
    padding: 75px 0px 0px 0px;
}

.connection{
  font-family: 'Manrope Bold', sans-serif;
  border-radius: 47px;
  background: #f2f2f2;
  box-shadow:  7px 7px 28px #b1b1b1, 
              -7px -7px 28px #ffffff;
  /* opacity: 0.9; */
  padding: 35px 50px 35px 35px;
  /* max-width: 400px; */
  /* height:auto; */
  /* overflow: auto; */
}

.state{
    font-family: 'Manrope Bold', sans-serif;
    border-radius: 47px;
    background: #f2f2f2;
    box-shadow:  7px 7px 28px #b1b1b1, 
                -7px -7px 28px #ffffff;
    margin-top: 40px;
    /* opacity: 0.9; */
    padding: 35px 50px 35px 35px;
    /* max-width: 400px; */
    /* height:auto; */
    /* overflow: auto; */
}

.configs{
    font-family: 'Manrope Bold', sans-serif;
    border-radius: 47px;
    background: #f2f2f2;
    box-shadow:  7px 7px 28px #b1b1b1, 
                -7px -7px 28px #ffffff;
    /* opacity: 0.9; */
    /* margin-top: 40px; */
    padding: 35px 50px 35px 35px;
    max-width: 500px;
    /* height:auto; */
    /* overflow: auto; */
}

.controller{
    font-family: 'Manrope Bold', sans-serif;
    border-radius: 47px;
    background: #f2f2f2;
    box-shadow:  7px 7px 28px #b1b1b1, 
                -7px -7px 28px #ffffff;
    /* opacity: 0.9; */
    padding: 35px 50px 35px 35px;
    max-width: 500px;
    min-width: 500px;
    /* height:auto; */
    /* overflow: auto; */
}

.control-btn {
    /* background: #027da2; */
    background: #e7e7e7;
    border-radius: 11px;
    border-color: #0e0e0e;
    border-width: 2px;
    padding: 20px;
    color: #0e0e0e;
    /* display: inline-block; */
    text-align: center;
    margin: 10px;
    min-width: 100px;
  }
  .control-btn:hover{
    /* background: #027da2; */
    background: #cccccc;
  }

  .control-btn:active{
    /* background: #027da2; */
    background: #a7a7a7;
  }

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

/* Fonts */
@font-face {
    font-family: "Manrope ExtraBold";
    src: url("/static/fonts/web/Manrope-ExtraBold.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800; }
  @font-face {
    font-family: "Manrope Bold";
    src: url("/static/fonts/web/Manrope-Bold.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700; }
  @font-face {
    font-family: "Manrope SemiBold";
    src: url("/static/fonts/web/Manrope-SemiBold.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600; }
  @font-face {
    font-family: "Manrope Medium";
    src: url("/static/fonts/web/Manrope-Medium.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500; }
  @font-face {
    font-family: "Manrope Regular";
    src: url("/static/fonts/web/Manrope-Regular.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400; }
  @font-face {
    font-family: "Manrope Light";
    src: url("/static/fonts/web/Manrope-Light.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300; }
  @font-face {
    font-family: "Manrope ExtraLight";
    src: url("/static/fonts/web/Manrope-ExtraLight.woff2") format("woff2"),
    url("/static/fonts/ttf/Manrope-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200; }